p:not(:last-child) {
	margin-bottom: 0.75rem;
}
.is-underline {
	text-decoration: underline;
}
b {
	font-weight: 500;
}
ul {
	list-style: disc;
	padding: 0 1.25rem;
}
li:not(:last-child) {
	margin-bottom: 0.5rem;
}
html {
	scroll-behavior: smooth;
}
