/* get the required local files */
    @font-face {
      font-family: 'Roboto';
      src: url('roboto.eot'); /* IE9 Compat Modes */
      src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('roboto.woff') format('woff'), /* Modern Browsers */
      url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
    
    /* use the font */
    body {
      font-family: 'Roboto';
      font-size: 16px;
      font-style: normal;
    }

     .header-text { 
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */


/* GPMS/Greys/Grey-7 */

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
    }
 .header2-text {
 
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 34px;
/* identical to box height, or 113% */


/* GPMS/Greys/Grey-7 */

color: #000000;
    }
   .subheader-text { 
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
       display: flex;
      align-items: center;
    }
    .subheader-content { 
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

display: flex;
align-items: center;

/* GPMS/Greys/Grey-7 */

color: #000000;
    }
    .noPadding{padding: 0;}
    .noMargin{margin: 0;}