div[c-omniformnavigationmenuitem_omniformnavigationmenuitem] {
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	opacity: 1;
	transition: 0.3s;
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem]::before {
	content: "";
	position: absolute;
	left: 0.6rem;
	top: 1px;
	bottom: 0;
	width: 2px;
	background-color: var(--gpmsColGrey3, #dbdbdb);
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem]::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: 3px;
	top: 1px;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background-color: var(--gpmsColGrey3, #dbdbdb);
	border: 4px solid var(--gpmsColGrey0, #ffffff);
	outline: 3px solid var(--gpmsColGrey0, #ffffff);
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].is-last-child::before {
	content: none;
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].complete::before {
	background-color: var(--gpmsColSecondary, #04819c);
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].active {
	font-weight: 500;
	color: var(--gpmsColGrey7, #000000);
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].active p {
	pointer-events: none;
	cursor: not-allowed;
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].active::after {
	background-color: var(--gpmsColGrey0, #ffffff);
	border: 5px solid var(--gpmsColSecondary, #04819c);
	border-width: 4px;
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].complete::after {
	background-color: var(--gpmsColGrey0, #ffffff);
	border: 0;
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 14c3.3137 0 6-2.6863 6-6 0-3.31371-2.6863-6-6-6-3.31371 0-6 2.68629-6 6 0 3.3137 2.68629 6 6 6z' fill='%2304819C'/%3E%3Cpath clip-rule='evenodd' d='m4.65303 8.2912 2.2153 2.2287c.17926.1998.48248.1997.66164-.0002l3.80403-3.84441c.1779-.17845.1777-.47096-.0005-.64918l-.2961-.29616c-.1784-.1784-.4714-.1784-.6498 0l-.0007.00073-3.1946 3.22091-1.5927-1.60554-.00071-.00071c-.1784-.1784-.4713-.1784-.6497 0l-.29616.29615c-.1783.17831-.17812.47128 0 .64971z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].error::after {
	background-color: var(--gpmsColGrey0, #ffffff);
	border: 0;
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='m13.6 8c0 3.0928-2.5072 5.6-5.6 5.6-1.08691 0-2.10149-.3097-2.96035-.8455l7.71485-7.71485c.5358.85886.8455 1.87344.8455 2.96035zm-10.2786 3.0786 7.7572-7.7572c-.8833-.58242-1.94139-.9214-3.0786-.9214-3.09279 0-5.6 2.50721-5.6 5.6 0 1.13721.33898 2.1953.9214 3.0786zm12.6786-3.0786c0 4.4183-3.5817 8-8 8-4.41828 0-8-3.5817-8-8 0-4.41828 3.58172-8 8-8 4.4183 0 8 3.58172 8 8z' fill='%23e91e63' fill-rule='evenodd'/%3E%3C/svg%3E");
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].locked p {
	pointer-events: none;
	cursor: not-allowed;
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].locked::after {
	background-color: var(--gpmsColGrey0, #ffffff);
	top: 3px;
	border: 0;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='16' viewBox='0 0 24 24' width='16'%3e%3cclipPath id='a'%3e%3cpath d='m0 0h24v24h-24z'/%3e%3c/clipPath%3e%3cg clip-path='url(%23a)'%3e%3cpath d='m18 8h-1v-2c0-2.76-2.24-5-5-5s-5 2.24-5 5v2h-1c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9h-6.2v-2c0-1.71 1.39-3.1 3.1-3.1s3.1 1.39 3.1 3.1z' fill='%23767676'/%3e%3c/g%3e%3c/svg%3e");
}
div[c-omniformnavigationmenuitem_omniformnavigationmenuitem].true {
	max-width: 0vw;
	max-height: 0vh;
	opacity: 0;
}
p[c-omniformnavigationmenuitem_omniformnavigationmenuitem] {
	cursor: pointer;
	transition: 0.3s;
}
p[c-omniformnavigationmenuitem_omniformnavigationmenuitem].locked {
	cursor: not-allowed;
	pointer-events: none;
}
p[c-omniformnavigationmenuitem_omniformnavigationmenuitem].active {
	font-weight: 500;
	color: var(--gpmsColGrey7, #000000);
}
p[c-omniformnavigationmenuitem_omniformnavigationmenuitem]:last-child {
	padding-bottom: 1rem;
}
p[c-omniformnavigationmenuitem_omniformnavigationmenuitem].error-message {
	font-size: 0.875rem;
	color: var(--gpmColErrorDark, #970a3a);
}

p[c-omniformnavigationmenuitem_omniformnavigationmenuitem]:not(.locked):hover {
	color: var(--gpmsColGrey7, #000000);
}
