h3 {
    font-size: 26px;
    font-weight: 500;
    color: var(--gpmsColGrey7);
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--gpmsColGrey7);
}

.srqi-hr {
    border-color: var(--gpmsColGrey3);
}

.face-label {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-large);
}

@media (min-width: 28em) {
    .face-label {
        padding-right: var(--spacing-xx-large);
        margin-right: var(--spacing-xx-large);
        margin-top: var(--spacing-small);
        margin-bottom: var(--spacing-large);
    }
}