.container {
  width: 50%;
  position: relative;
  border-color: #dcf0f4;
  background-color: #f4fcfc;
}
.info {
  margin-right: 10px;
}
.info-icon {
  --sds-c-icon-color-foreground-default: #2596be;
}
.content {
  display: flex;
}
.title {
  font-weight: bold;
}
.close {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
}