/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* Global variables */
:root {
    /* Font family */
    --default-font: 'Roboto', Helvetica, Arial, sans-serif;
    /* Custom brand colors */
    --gpmColError: #e91e63;
    --gpmColErrorDark: #970a3a;
    --gpmColErrorLight: #f082a7;
    --gpmColErrorLight1: #f8bcd0;
    --gpmColErrorLight2: #fde9ef;
    --gpmColSuccess: #4d8144;
    --gpmColSuccessDark: #216515;
    --gpmColSuccessLight: #91ed82;
    --gpmColSuccessLight1: #cad9c7;
    --gpmColSuccessLight2: #edf2ec;
    --gpmColWarning: #ffa400;
    --gpmColWarningDark: #c98202;
    --gpmColWarningLight: #ffce76;
    --gpmColWarningLight1: #ffe4b3;
    --gpmColWarningLight2: #fff6e6;
    --gpmsColBrand: #51376b;
    --gpmsColBrandDark: #261040;
    --gpmsColBrandGradientDark: linear-gradient(315deg, #04819c, #261040);
    --gpmsColBrandLight: #7e6299;
    --gpmsColBrandLight1: #cac0d2;
    --gpmsColBrandLight2: #e7e1ed;
    --gpmsColBrandLight3: #f8f6fb;
    --gpmsColGrey0: #ffffff;
    --gpmsColGrey1: #f8f8f8;
    --gpmsColGrey2: #eeeeee;
    --gpmsColGrey3: #dbdbdb;
    --gpmsColGrey4: #bbbbbb;
    --gpmsColGrey5: #888888;
    --gpmsColGrey6: #333333;
    --gpmsColGrey7: #000000;
    --gpmsColGrey8: #767676;
    --gpmsColSecondary: #04819c;
    --gpmsColsecondaryDark: #00546e;
    --gpmsColSecondaryLight: #52b1cd;
    --gpmsColSecondaryLight1: #bce0ea;
    --gpmsColSecondaryLight2: #e8f4f9;
    --gpmsColSecondaryLight3: #f7fcfd;

    /* Spacing - has equivalent global slds tokens*/
    --spacing-xx-small: 0.25rem;
    --spacing-x-small: 0.5rem;
    --spacing-small: 0.75rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-x-large: 2rem;
    --spacing-xx-large: 3rem;

    /* Radius - has equivalent global slds tokens */
    --border-radius-circle: 40px;
    --border-radius-large: 0.5rem;
    --border-radius-medium: 0.25rem;
    --border-redius-small: 0.125rem;

    /* Sizing - has equivalent global slds tokens */
    --size-xx-small: 6rem;
    --size-x-small: 12rem;
    --size-small: 15rem;
    --size-medium: 20rem;
    --size-large: 25rem;
    --size-x-large: 40rem;
    --size-xx-large: 60rem;

    /* Shadow - has equivalent global slds tokens */
    --card-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    --shadow-drop-down: 0 2px 3px 0 rgba(0, 0, 0, 0.16);

    /* Shadow - no slds equivalent */
    --card-shadow-hover: 0px 2px 16px 0 rgba(0, 0, 0, 0.15);

    /* Global typography */
    --default-font-weight: 400;
    /* Headings */
    --font-size-heading-minus1: 1.125em;
    --font-size-heading-minus2: 1rem;
    --font-size-heading-minus3: 0.938rem;
    --font-size-heading-minus4: 0.875rem;
    --font-size-heading-normal: 1.25rem;
    --font-size-heading-plus1: 1.625rem;
    --font-size-heading-plus2: 1.875rem;
    --font-size-heading-plus3: 2.25rem;
    --font-size-heading-plus4: 2.5rem;
    --line-height-heading-minus2: 1.25;
    --line-height-heading-normal: 1.2;
    --line-height-heading-plus1: 1.175;
    --line-height-heading-plus2: 1.15;
    --line-height-heading-plus3: 1.125;
    --line-height-heading-plus4: 1.1;
    /* Paragraphs */
    --font-size-paragraph-minus1: 0.938rem;
    --font-size-paragraph-minus2: 0.875rem;
    --font-size-paragraph-normal: 1rem;
    --font-size-paragraph-plus1: 1.125rem;
    --font-size-paragraph-plus2: 1.25rem;
    --line-height-paragraph-minus1: 1.4;
    --line-height-paragraph-minus2: 1.3;
    --line-height-paragraph-normal: 1.5;

}