.container {
  display: flex;
}
.content {
  width: 50%;
}
.control {
  width: 50%;
}
.combobox {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  --lwc-formLabelFontSize: 0.9rem;
}
.first-line {
  display: flex;
}
.version {
  font-weight: bold;
  font-size: 1rem;
}
.status {
  margin-left: 10px;
}
.combobox-label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 0.9rem;
  font-weight: bold;
}
.combobox-label:before {
  content: "* ";
  color: red;
}
.custom-button {
  border: none;
  color: white;
  padding: 2px, 12px, 2px, 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: none;
  border-radius: 23px;
  height: 22px;
}
.box-container {
  width: 50%;
  position: relative;
  background-color: #f9a50dff;
  margin-top: 10px;
}
.warning {
  margin-right: 10px;
}
.warning-icon {
  --sds-c-icon-color-foreground-default: black;
}
.box-content {
  display: flex;
}
.title {
  font-weight: bold;
}
.close {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
}
.close-icon {
  --sds-c-icon-color-foreground-default: black;
}
.box-container-1 {
  width: 50%;
  position: relative;
  border-color: #dcf0f4;
  background-color: #f4fcfc;
  margin-top: 10px;
}
.info {
  margin-right: 10px;
}
.info-icon {
  --sds-c-icon-color-foreground-default: #2596be;
}