.container{
    background: linear-gradient(180deg, #261040 0%, #04819C 417.95%);
    color: white;
    font-style: normal;
    font-weight: 500;
    padding: 1%;
}

.banner{
    background: linear-gradient(1deg, #10292e -2.66%, #181140 75.32%);
    color: rgb(252, 252, 252);
    text-align: left;
    width:100%;
    padding: 2%;
}

.provider{
    align-items: left;
    background: white;
    color:black;
    margin-top: 1%;
    font-size: 14px;
    line-height: 16px;    
    letter-spacing: 0.25px;
    width: fit-content;
    padding: 0.5%;
    
    
}

.space{
    padding: 0px;
    margin: 0px;
}

.buttons{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 18px;
    --slds-c-button-outline-brand-color-background-active: white;
    --slds-c-button-outline-brand-color-background-hover: #D0D0D0;
}

.reporting-period{
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height, or 113% */
    
    display: flex;
    align-items: center;
}

.bottom{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.last-update{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.custom-icons{
    padding-bottom: 5px;
    padding-top: 5px;
}