:host {
  --slds-c-card-header-spacing-inline-start: 1.5rem;
  --slds-c-card-body-spacing-inline-start: 1.5rem;
  --slds-c-card-sizing-border: 0;
}

.container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 9%;
  overflow-y: scroll;
}

.container-alter {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 9%;
  overflow-y: scroll;
}

.title {
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
  color: black;
  margin: 32px 0px;
}

.number {
  background: #e8f4f9;
  border-radius: 2px;
  font-weight: 500;
  width: 26px;
  height: 26px;
  float: left;
  margin-right: 6px;
  text-align: center;
}

.section-title {
  font-size: 20px;
  line-height: 24px;
  color: black;
  font-weight: 500;
}

.section-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 30px;
}

.instruction {
  margin-bottom: 6%;
  float: left;
}

.consent {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.confirmation {
  padding: 15px 58px;
}

ul:not(.browser-default) li {
  list-style-type: disc;
}

.upload {
  height: 161px;
  padding-top: 4%;
  text-align: center;
  margin: 15px 30px;
  border: 2px dashed #00546e;
  border-radius: 2px;
}

.combo {
  --slds-c-input-radius-border: 2px;
  --slds-c-input-color-border: #51376b;
  --slds-c-input-color-background: white;
}

.download-button {
  height: 50px;

  background: #ffffff;
  /* GPMS-Interim/Brand & Secondary/Brand-dark */

  border: 1px solid #261040;
  border-radius: 4px;

  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  align-items: center;
  padding-top: 2%;
  padding-left: 3%;
}

.excel {
  margin-left: 25px;
  float: left;
  padding-right: 5px;
}

.excel-1 {
  float: left;
  padding-right: 2%;
}

.excel > img {
  width: 10px;
}

.excel-1 > img {
  width: 10px;
}

.file {
  float: left;
}

.download > img {
  margin-right: 15px;
}

hr {
  border: 2px solid rgb(64, 16, 117);
}

.close-icon {
  --sds-c-icon-color-foreground-default: red;
  cursor: pointer;
  margin-left: 5px;
}

.rp-selection {
  margin-left: 28px;
}

.conclusion {
  margin-left: 25px;
}

.main-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.download-link {
  width: 118%;
  display: block;
}