h1 {
    font-size: var(--font-size-heading-plus2);
    font-weight: 500;
}

p {
    font-size: var(--font-size-paragraph-normal);
}

.srqi-qi-rating-indicator-icon {
    --sds-c-icon-color-foreground-default: var(--gpmsColGrey7);
}

.srqi-indicator-icon-container {
    width: 40px;
    height: 52px;
    padding-left: 15px;
    padding-right: 15px;
}

.srqi-cm-mins {
    font-size: 16px;
    font-weight: 400;
}

.srqi-rating-details-table-cell {
    height: 3rem;
    display: table-cell;
    vertical-align: middle;
}