.button-class{
    
    width: 95px;
    height: 35px;
    background: #51376B;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: justify;
    padding:5px 5px 5px 20px;
    margin:10px 10px 10px 10px;
}
.button-notactive{

    color: #FFFFFF;
}
.img-class{

    margin-right: 3px;
    height:10px;
}