.container {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  color: #000000;
  height: 140px;
  background-color: #f8f6fb;

  display: flex;
  text-transform: capitalize;
}

.title {
  font-size: 36px;
  padding-top: 0;
  padding-left: 2%;
}

.icon1 {
  --lwc-colorTextIconDefault: #261040;
}

.align {
  padding-top: 3px;
}