:host .qi-file-upload-history {
    --lwc-colorTextWeak: var(--gpmsColGrey5);
    --lwc-colorTextSuccess: var(--gpmColSuccess);
    --lwc-colorTextError: var(--gpmColError);
    --slds-c-button-brand-color-background: var(--gpmsColBrand);
    --slds-c-button-brand-color-background-hover: var(--gpmsColBrandDark);
    --slds-c-button-brand-color-border: var(--gpmsColBrand);
}