.container{
    background: linear-gradient(315.73deg, #04819C -12.66%, #261040 75.32%);
    height: 100px;
    color: white;
    font-family: 'Roboto , Arial , Verdana , sans-serif';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}


.bttn1 {
    background: white;
    width: 50%;
    height: 40px;
    padding-left: 7%;
    margin: 23%;
}

.bttn2 {
    background: white;
    width: 65%;
    margin-top: 13%;
}

.icon {
    padding-left: 15%;
}

.provider{
    margin: 1% 0 0 0;
    background-color: white;
    color: black;
    width: fit-content;
    border-radius: 4px;
    padding: 1px 5px;
}

.title {
    margin-top: 7px;
    font-size: 30px;
    line-height: 34px;
}