.srqi-rating-details-table table > thead .slds-th__action {
    font-size: 18px;
    font-weight: 500;
}

.srqi-sub-category-tabs a:focus {
    text-decoration: none !important;
}

.srqi-sub-category-tabs .slds-is-active a {
    font-weight: 500 !important;
}

.srqi-sub-category-tabs li {
    font-size: 18px;
    --slds-c-tabs-list-sizing-border: 4px;
    --slds-c-tabs-item-sizing-height: 50px;
}

.srqi-sub-category-tabs {
    --slds-c-tabs-item-color-border-active: var(--gpmsColBrand);
}

.srqi-loading-container {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.srqi-loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

c-srqi-filter-star-rating c-multi-select-combobox input {
    width: 294px !important;
    font-size: 18px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

c-srqi-filter-star-rating c-multi-select-combobox label {
    font-size: 18px !important;
    font-weight: 500;
}

c-srqi-filter-star-rating .search-box input {
    font-size: 18px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

c-srqi-filter-star-rating .search-box label {
    font-size: 18px !important;
    font-weight: 500;
}

.srqi-brand-background-button .slds-button_brand {
    --slds-c-button-color-background: var(--gpmsColBrand);
    font-size: 18px;
    font-weight: 500;
    --slds-c-button-spacing-block-end: 8px;
    --slds-c-button-spacing-block-start: 8px;
}

.search-box input::placeholder {
    color: var(--gpmsColGrey5);
}