.tab-icon {
  margin-left: 10px;
}

.tab-content {
  padding-top: 0 !important;
  background: #f7fcfd;
  display: flex;
  flex-direction: column;
}

.tab-content-1 {
  border-top: 1px solid #888888;
}
.reportingcss{
  font-weight: 500;
  line-height: var(--slds-c-tabs-item-line-height, var(--sds-c-tabs-item-line-height, var(--lwc-lineHeightTab,2.5rem)));
}

.tab-close {
  position: relative;
  padding-top: 130px;
  margin-bottom: -40px;
}

.close-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

hr {
  border: 1px solid rgba(31, 41, 48, 0.05);
  width: 90%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.navigation {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.navigation-button {
  outline: none;
  white-space: nowrap;
}