.background{
    box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 24px 72px;
gap: 24px;
width: 100%;
height: 722px;
background: #F7FCFD;
border-top: 1px solid #737373;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.header-text{
    width: 405px;
height: 28px;
font-family: 'sans-serif';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}

.link-text{
    width: 603px;
height: 24px;
font-family: 'system-ui';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-decoration-line: underline;
color: #04819C;
flex: none;
order: 1;
flex-grow: 1;
}

.subtext{
    width: 603px;
height: 36px;
font-family: 'system-ui';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #737373;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.label-text{
width: 46px;
height: 18px;
font-family: 'system-ui';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #261040;
}

.label-box{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 24px;
gap: 10px;
width: 124px;
height: 50px;
position: absolute;
bottom: 10%;
left: 45%;
right: 50%;
background: #FFFFFF;
border: 1px solid #261040;
border-radius: 2px;
flex: none;
order: 2;
flex-grow: 0;
}