:host {
  --slds-c-card-header-spacing-inline-start: 1.5rem;
  --slds-c-card-body-spacing-inline-start: 1.5rem;
  --slds-c-card-sizing-border: 0;
}

.normal-text {
  font-size: 0.9rem;
}

hr {
  border: 2px solid rgb(64, 16, 117);
}