.my-css {
    --sds-c-card-color-background: #eeeeee;
   height: auto !important;
   max-height: 350px !important;
  }
  
  .hsl{
    font-size: 30px;
    font-weight: bold;
}
.THIS .btnIcn svg {
  width: 3rem;
  height: 3rem;
}
.divCss{
  height: 20px;
}
.service{
margin-top: -36px;
}