.sx-component-card {
  background: var(--acds-color-white); /* ernie original #FFFFFF; */
  border: 1px solid var(--acds-color-gray-100);  /* ernie original #DDDBDA */
  border-radius: 4px;
  padding: 1rem;
  height: 100% !important;
}
/* .card-img {
  height: 100px;
} */
.card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--acds-color-black);  /* ernie original black; */
}
.card-content {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--acds-color-black);  /* ernie original black; */ 
}

/* ernie */
.sx-component-card-hover {
  background: var(--acds-color-gray-100); /* #EEEEEE; */
  border: 1px solid var(--acds-color-gray-100);  /* #333333 */
  border-radius: 4px;
  padding: 1rem;
  height: 100% !important;
  cursor: pointer;
}