h1 {
    font-size: var(--font-size-heading-plus1);
    font-weight: 500;
    margin-bottom: calc(2.5 * var(--spacing-x-large));
    position: relative;
}

h1::before {
    border-bottom: 1px solid var(--gpmsColBrand);
    bottom: -10px;
    content: "";
    position: absolute;
    width: 100px;
}

.page-container {
    color: var(--gpmsColGrey7);
    display: flex;
    gap: calc(5 * var(--spacing-medium));
    padding-bottom: calc(2.5 * var(--spacing-x-large));
    position: relative;
    width: 100%;
}

aside {
    border-right: 1px solid var(--gpmsColGrey3);
    flex-shrink: 0;
    width: 294px;
}

main {
    width: 100%;
}

.container-header {
    align-items: center;
    display: flex;
    gap: var(--spacing-x-large);
    justify-content: space-between;
    margin-bottom: var(--spacing-medium);
    min-height: calc(3.25 * var(--spacing-medium));
    width: 100%;
}

h2 {
    font-size: var(--font-size-heading-plus1);
    font-weight: 500;
}

.page-spinner {
    position: absolute;
}

/* Breakpoints */

/* Viewport >= 768 */
@media (min-width: 48em) {}

/* Viewport >= 1024 */
@media (min-width: 64em) {
    main {
        max-width: calc(100% - 374px);
    }
}

/* Viewport >= 1440 */
@media (min-width: 90em) {}