/* The sidepanel menu */
 .stepchartvisible {
    visibility: visible;
    width: 200px;
  }

  .stepchartinvisible {
    display: none;
  }

  .slds-m-left_small {
    height: 50px;
    width: 50px;
  }