.hero-image{
  background-image: url('/sfsites/c/resource/solutionExchange/images/homepage-hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 440px;
}
.hero-text {
  margin-left: 4.75rem;
  margin-right: 4.75rem;
  margin-top: 1.75rem;
  position: absolute;
  bottom: 2.5rem;
  color: white;
  font-weight: 700;
  font-size: 60px;    
}

@media only screen and (max-width: 768px) {
  .hero-text{
      font-size: 50px;
  }
}