.input-size_medium {
    width: 300px;
}

.input-size_medium, .input-size_medium label {
    font-size: 18px;
}

.search-box {
    font-size: 18px;
}

.filter-button {
    --slds-c-button-brand-color-background: var(--gpmsColsecondaryDark);
    font-size: 18px;
    font-weight: 500;
    --slds-c-button-spacing-block-end: 8px;
    --slds-c-button-spacing-block-start: 8px;
}

.srqi-link {
    color: var(--gpmsColsecondaryDark);
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
}