/* get the required local files */
@font-face {
    font-family: 'Roboto';
    src: url('roboto.eot');
    /* IE9 Compat Modes */
    src: url('roboto.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto.woff') format('woff'),
        /* Modern Browsers */
        url('roboto.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

/* use the font */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
}

.header-text {
    
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
}

.header2-text {
     
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
}

.subheader-text {
     
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.subheader-content { 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
}

.Contact-header {
    width: 572px;
    height: 30px; 
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.noPadding {
    padding: 0;
}

.noMargin {
    margin: 0;
}

.contactDetails {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    background: #F8F6FB;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.contactHeader{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    gap: 40px;
    background: #F8F6FB;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.contactDetails-name { 
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;

}

.contactDetails-Content { 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactDetails_EditAction {width: 31px;
height: 18px; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
align-items: center;
text-align: center;
text-transform: capitalize; 
}