.sx-component_nav_item a{
    padding: 12px;

    color: #006DCC;
}

.sx-component_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */

    color: #000000;

    padding: 10px 0px;
}

.sx-component_brief {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    padding: 10px 0px;
}

.sx-component_image {
    /* width: 100%; */
    margin: 10px 0px;
}

.sx-component_tabset .slds-tabs_default {
    background: #FFFFFF;
    border: 1px solid #D8DDE6;
    border-radius: 4px;
}

.sx-component_tabset .slds-tabs_default__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #0089AD;
}

.sx-component_tabset .slds-tabs_default__content {
    padding: 34px;
}

.sx-component_tabset .slds-tabs_default__content div {
    padding-bottom: 12px;
}

.sx-component_split_line {
    border: 1px solid #979797;
    transform: rotate(-0.1deg);
    height: 0px;
}