.srqi-card-section-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.srqi-card-title {
    font-size: var(--font-size-heading-plus1);
    font-weight: 500;
}

.srqi-card-sub-title{
    font-size: var(--font-size-paragraph-plus1);
}

.srqi-text-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--gpmsColsecondaryDark);
    cursor: pointer;
}

.srqi-link-icon {
    --sds-c-icon-color-foreground-default: var(--gpmsColsecondaryDark);
}

.srqi-hr {
    border-color: var(--gpmsColGrey3);
}

.srqi-card {
    --slds-c-card-radius-border: 16px;
    --slds-c-card-header-spacing-block-start: 30px;
    --slds-c-card-header-spacing-block-end: 0px;
    --slds-c-card-header-spacing-inline-start: 40px;
    --slds-c-card-color-border: var(--gpmsColGrey3);
    display: block;
}